<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burger!</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger.js"></script>
</head>

<body>
	<div class="container div1">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="jumbotron div4">
					<h3 class="tx1">   Burger !!!!!!!</h3>
					<img src="/assets/img/burger.png" alt="Smiley face" class="img" height="130" width="130">
					

				</div>
				<div class="col-md-2"></div>
			</div>
		</div>

	</div>
	<br><br>
	{{{ body }}}
</body>

</html>